<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.btlonappbanhangonline">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="Purchase app"
        android:supportsRtl="true"
        android:theme="@style/Theme.BTLonAppBanHangOnline"
        android:usesCleartextTraffic="true">
        <activity
            android:name="com.manager.btlonappbanhangonline.activity.HomeActivity"
            android:exported="false" />
        <activity
            android:name="com.manager.btlonappbanhangonline.activity.InformationActivity"
            android:exported="false" />
        <activity
            android:name="com.manager.btlonappbanhangonline.activity.ContactActivity"
            android:exported="false" />
        <activity
            android:name="com.manager.btlonappbanhangonline.activity.AddProductActivity"
            android:exported="true" />
        <activity
            android:name="com.manager.btlonappbanhangonline.activity.ManagerActivity"
            android:exported="true" />
        <activity
            android:name="com.manager.btlonappbanhangonline.activity.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.manager.btlonappbanhangonline.activity.SearchActivity"
            android:exported="true" />
        <activity
            android:name="com.manager.btlonappbanhangonline.activity.XemDonActivity"
            android:exported="true" />
        <activity
            android:name="com.manager.btlonappbanhangonline.activity.ThanhToanActivity"
            android:exported="true" />
        <activity
            android:name="com.manager.btlonappbanhangonline.activity.ResetPassActivity"
            android:exported="true" />
        <activity
            android:name="com.manager.btlonappbanhangonline.activity.LoginActivity"
            android:exported="true" />
        <activity
            android:name="com.manager.btlonappbanhangonline.activity.DetailActivity"
            android:exported="true" />
        <activity
            android:name="com.manager.btlonappbanhangonline.activity.LaptopActivity"
            android:exported="true" />
        <activity
            android:name="com.manager.btlonappbanhangonline.activity.PhoneActivity"
            android:exported="true" />
        <activity
            android:name="com.manager.btlonappbanhangonline.activity.MainActivity"
            android:exported="true" />

        <service
            android:name="com.manager.btlonappbanhangonline.Service.FirebaseMessagerReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>

</manifest>